


/* 过渡 伪类或事件触发 将一套 CSS 样式逐渐变化为另一套样式 */

.transition {

	transition: [property] [duration] [timing-function] [delay];

	transition-property							/* CSS属性名 */
	transition-duration							/* 花费时间 */
	transition-timing-function:"ease";			/* 时间曲线 */
	transition-delay							/* 何时开始 */

}





/* 转换，变形 */

.transform {

	transform: [transformfunc];					/* 变形函数 

		matrix(n,n,n,n,n,n)						转换，使用六个值的矩阵
		translate(x,y)							转换，沿着 X 和 Y 轴移动元素 
		translateX(n)							转换，沿着 X 轴移动元素 
		translateY(n)							转换，沿着 Y 轴移动元素 
		scale(x,y)								缩放，改变元素的宽度和高度 
		scaleX(n)								缩放，改变元素的宽度 
		scaleY(n)								缩放，改变元素的高度 
		rotate(angle)							旋转，在参数中规定角度
		rotateX()						
		rotateY()
		skew(x-angle,y-angle)					倾斜，沿着 X 和 Y 轴
		skewX(angle)							倾斜，沿着 X 轴
		skewY(angle)							倾斜，沿着 Y 轴	
	*/

}
	




/* 动画 将一套 CSS 样式逐渐变化为另一套样式， */

.animation {
	animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction];
	animation-name:;							/* 使用关键帧名 */	
	animation-duration:;						/* 周期时间 */	
	animation-timing-function: "ease";			/* 速度曲线 */	
	animation-delay:;							/* 何时开始 */	
	animation-iteration-count:;					/* 播放次数 */	
	animation-direction:;						/* 逆向播放 */	
}

/* 定义关键帧 */

@keyframes animationName {
	n {attrName:"attrValue";}					/* n = 0% - 100% */
	from {}										/* 等于 0% */
	to {}										/* 等于 100% */
}						

/***********************************************************************************************************************************

	animation-play-state			是否正在运行或暂停默认是 "running"	
	animation-fill-mode				规定对象动画时间之外的状态


用户界面 

	appearance						允许您将元素设置为标准用户界面元素的外观	
	box-sizing						允许您以确切的方式定义适应某个区域的具体内容	
	icon							为创作者提供使用图标化等价物来设置元素样式的能力	
	nav-down						规定在使用 arrow-down 导航键时向何处导航	
	nav-index						设置元素的 tab 键控制次序	
	nav-left						规定在使用 arrow-left 导航键时向何处导航	
	nav-right						规定在使用 arrow-right 导航键时向何处导航	
	nav-up							规定在使用 arrow-up 导航键时向何处导航	
	outline-offset					对轮廓进行偏移，并在超出边框边缘的位置绘制轮廓
	resize							规定是否可由用户对元素的尺寸进行调整

	filter 							滤镜
*/	